<header>
  <span class="version-label">v{{ appVersion }}</span>

  <a class="logo" href="index.html"
    ><img
      alt="Hala Stats Logo"
      src="hala-logo.svg"
    /><!-- 🔥 TU DODAJEMY WERSJĘ -->
  </a>

  <nav>
    <ul class="nav__links">
      <li>
        <a routerLink="/">Strona Główna</a>
      </li>
      <li>
        <a routerLink="/ranking">Ranking zawodników</a>
      </li>
      <li>
        <a routerLink="/terminarz">Terminarz meczów</a>
      </li>
    </ul>
  </nav>
  <p class="menu mobile-menu-container menu_item">
    <!-- MENU <i class="menu_item"></i> -->
    <img src="hamburger-menu.svg" />
  </p>
</header>
<div id="mobile__menu" class="overlay">
  <a id="menu-close-menu-mobile" class="close">x</a>
  <div class="overlay__content">
    <a routerLink="/">Strona Główna</a>
    <a routerLink="/ranking">Ranking zawodników</a>
    <a routerLink="/terminarz">Terminarz meczów</a>
  </div>
</div>
