
<h2>{{ nextMatch.state === 'Live' ? 'Trwający mecz' : 'Następny Mecz' }}</h2>


<mat-card class="next-match-card">
  <mat-card-header class="next-match-header">
    <mat-card-title>{{ getFormattedDate(nextMatch.matchDate) }}</mat-card-title>
    <mat-card-subtitle>Skarbnik: <strong>{{ nextMatch.skarbnikId }}</strong>
      <mat-card-actions class="next-match-actions">
        <a *ngIf="nextMatch.eventLink" mat-button color="primary" [href]="nextMatch.eventLink" target="_blank">
          Link do wydarzenia
        </a>
      </mat-card-actions>
    </mat-card-subtitle>
  </mat-card-header>
  <ng-container *ngIf="nextMatch.state === 'Live'; else hideCounter">
    <h2>{{ counter }}</h2>
  </ng-container>
  
  <ng-template #hideCounter></ng-template>
  <div class="result-column-next-match">
    <p class="result-next-match">
      <span class="scoreLabel" [ngClass]="{'bold': nextMatch.teamA.goalsCount > nextMatch.teamB.goalsCount}">{{ nextMatch.teamA.goalsCount }}</span>
      <span class="vs">:</span>
      <span class="scoreLabel" [ngClass]="{'bold': nextMatch.teamB.goalsCount > nextMatch.teamA.goalsCount}">{{ nextMatch.teamB.goalsCount }}</span>
    </p>
  </div>

  <div class="timeline" *ngIf="nextMatch.goals && nextMatch.goals.length">
    <div *ngFor="let goal of nextMatch.goals" class="timeline-item">
      <!-- Gole drużyny A -->
      <div *ngIf="goal.teamName === nextMatch.teamA.teamName" class="timeline-item-left">
        <span class="timeline-min">{{ getGoalMinute(goal.goalTimespan) }}'</span>
        <span class="timeline-player">{{ goal.playerId }} <span *ngIf="goal.goalType === 'OwnGoal'">(sam.)</span></span>
      </div>
  
      <!-- Gole drużyny B -->
      <div *ngIf="goal.teamName === nextMatch.teamB.teamName" class="timeline-item-right">
        <span class="timeline-min">{{ getGoalMinute(goal.goalTimespan) }}'</span>
        <span class="timeline-player">{{ goal.playerId }} <span *ngIf="goal.goalType === 'OwnGoal'">(sam.)</span></span>
      </div>
    </div>
  </div>

  <mat-card-content>
    <div class="teams" *ngIf="nextMatch.teamA || nextMatch.teamB">
      <div class="team" *ngIf="nextMatch.teamA">
        <h4>{{ nextMatch.teamA.teamName }}</h4>
        <p class="team-rating">Rating zespołu: <strong>{{ nextMatch.teamA.teamRating }}</strong></p>
        <table class="players-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Imię Zawodnika</th>
              <th>Rating</th>
              <th>Gole</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of nextMatch.teamA.players; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ player.id }}</td>
              <td>{{ player.newRating }}</td>
              <td>{{ player.goals }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="team" *ngIf="nextMatch.teamB">
        <h4>{{ nextMatch.teamB.teamName }}</h4>
        <p class="team-rating">Rating zespołu: <strong>{{ nextMatch.teamB.teamRating }}</strong></p>
        <table class="players-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Imię Zawodnika</th>
              <th>Rating</th>
              <th>Gole</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of nextMatch.teamB.players; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ player.id }}</td>
              <td>{{ player.newRating }}</td>
              <td>{{ player.goals }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<div class="matches-history">
  <h2>Rozegrane mecze</h2>
  <mat-card *ngFor="let match of matchesHistory" class="match-item">
    <mat-card-header class="match-card-header">
      <mat-card-title>{{ getFormattedDate(match.matchDate) }}</mat-card-title>
      <mat-card-subtitle>Skarbnik: <strong>{{ match.skarbnik }}</strong></mat-card-subtitle>
      <a mat-button color="primary" [href]="match.eventLink" target="_blank">Link do wydarzenia</a>
    </mat-card-header>

    <mat-card-content>
      <div class="teams">
        <div class="team">
          <h4 [ngClass]="{'bold': match.teamA.goalsCount > match.teamB.goalsCount}">{{ match.teamA.teamName }}</h4>
          <span class="mobile-scoreLabel" [ngClass]="{'bold': match.teamA.goalsCount > match.teamB.goalsCount}">{{ match.teamA.goalsCount }}</span>
          <p class="team-rating">Rating zespołu: <strong>{{ match.teamA.teamRating }}</strong></p>
          <table class="players-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Imię Zawodnika</th>
                <th>Rating</th>
                <th>Gole</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of match.teamA.players; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.id }}</td>
                <td>{{ player.newRating }} ({{ player.difference > 0 ? '+' : '' }}{{ player.difference }})</td>
                <td>{{ player.goals }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="result-column">
          <p class="result">
            <span class="scoreLabel" [ngClass]="{'bold': match.teamA.goalsCount > match.teamB.goalsCount}">{{ match.teamA.goalsCount }}</span>
            <span class="vs">:</span>
            <span class="scoreLabel" [ngClass]="{'bold': match.teamB.goalsCount > match.teamA.goalsCount}">{{ match.teamB.goalsCount }}</span>
          </p>
        </div>

        <div class="team">
          <h4 [ngClass]="{'bold': match.teamB.goalsCount > match.teamA.goalsCount}">{{ match.teamB.teamName }}</h4>
          <span class="mobile-scoreLabel" [ngClass]="{'bold': match.teamB.goalsCount > match.teamA.goalsCount}">{{ match.teamB.goalsCount }}</span>
          <p class="team-rating">Rating zespołu: <strong>{{ match.teamB.teamRating }}</strong></p>
          <table class="players-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Imię Zawodnika</th>
                <th>Rating</th>
                <th>Gole</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of match.teamB.players; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.id }}</td>
                <td>{{ player.newRating }} ({{ player.difference > 0 ? '+' : '' }}{{ player.difference }})</td>
                <td>{{ player.goals }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
