.next-match-card {
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.light-font {
  margin-top: -4px;
  font-weight: 400; /* lub 'light' zależnie od używanej czcionki */
  font-size: 0.8em;
}

.next-match-actions {
  display: flex;
  justify-content: center;
}

.next-match,
.matches-history {
  margin: 20px;
  margin-top: 40px;
}

h2 {
  text-align: center;
}

.match-item,
.next-match-card {
  margin-bottom: 20px;
}

.match-header,
.next-match-header {
  text-align: center;
  justify-content: center;
}

.match-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.mat-card-subtitle {
  font-style: italic;
}

.teams {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.team {
  width: 45%;
  text-align: center;
}

.result-column {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-top: 30px;
}

.result-column-next-match {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-next-match {
  font-size: 4.5em;
}

.bold {
  font-weight: bold;
}

.team-rating {
  margin-bottom: 10px;
}

.players-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.players-table th,
.players-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.players-table th {
  background-color: #f2f2f2;
}

.mat-button {
  text-transform: none;
  font-weight: bold;
}

.mobile-scoreLabel {
  display: none;
}

@media only screen and (max-width: 768px) {
  .teams {
    flex-direction: column;
    align-items: center;
  }

  .team {
    width: 100%;
    margin-bottom: 20px;
  }

  .result-column {
    width: auto;
    display: none;
  }

  .team-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .team-result {
    font-size: 2em;
    margin-left: 20px;
  }

  .mobile-scoreLabel {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 2em;
  }
}

.timeline {
  margin: 20px 0;
  padding: 0;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  position: relative;
}

.timeline-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 10px 0;
}

.timeline-item-left,
.timeline-item-right {
  width: 100%;
  text-align: left;
}

.timeline-item-right {
  text-align: right;
}

.timeline-min {
  font-weight: bold;
  color: #444;
}

.timeline-player {
  font-style: italic;
  color: #666;
}
/* 
.timeline-item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #444;
  border-radius: 50%;
} */

/* .timeline-item-left:before, .timeline-item-right:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background-color: #ddd;
} */

.player-link {
  color: #000; /* czarny */
  text-decoration: none;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

/* Podkreślenie trochę niżej */
.player-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* obniżamy linię */
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
  transition: 0.2s ease;
}

/* Hover – pogrubienie i linia grubsza */
.player-link:hover {
  font-weight: 600;
}

.player-link:hover::after {
  height: 3px;
  opacity: 0.6;
}

/* Efekt kliknięcia */
.player-link:active {
  opacity: 0.6;
  transform: scale(0.97);
}
