<h2>Następny Mecz</h2>
<mat-card class="next-match-card">
    <mat-card-header>
        <mat-card-title>{{ nextMatch.matchDate | date:'EEEE, dd-MM-yyyy HH:mm' | titlecase }}</mat-card-title>
        <mat-card-subtitle>Skarbnik: {{ nextMatch.skarbnikId }}</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-actions class="next-match-actions">
      <a mat-button color="primary" [href]="nextMatch.eventLink" target="_blank">Link do wydarzenia</a>
    </mat-card-actions>
  </mat-card>

<div class="matches-history">
  <h2>Historia Meczów</h2>
  <mat-card *ngFor="let match of matchesHistory" class="match-item">
    <mat-card-header class="match-card-header">
        <div mat-card-avatar class="match-header-avatar"></div>
        <mat-card-title>{{ match.matchDate | date:'EEEE, dd-MM-yyyy HH:mm' | titlecase }}</mat-card-title>
        <mat-card-subtitle>Skarbnik: <strong>{{ match.skarbnik }}</strong></mat-card-subtitle>
      <a mat-button color="primary" [href]="match.eventLink" target="_blank">Link do wydarzenia</a>

      </mat-card-header>

    <mat-card-content>
      <div class="teams">
        <div class="team">
          <h4 [ngClass]="{'bold': match.teamA.goals > match.teamB.goals}">{{ match.teamA.teamName }}</h4>
          <p class="team-rating">Rating zespołu: {{ match.teamA.teamRating }}</p>
          <table class="players-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Imię Zawodnika</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of match.teamA.players; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.id }}</td>
                <td>{{ player.newRating }} ({{ player.difference > 0 ? '+' : '' }}{{ player.difference }})</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="result-column">
          <p class="result">
            <span [ngClass]="{'bold': match.teamA.goals > match.teamB.goals}">
              {{ match.teamA.goals }}
            </span>
            :
            <span [ngClass]="{'bold': match.teamB.goals > match.teamA.goals}">
              {{ match.teamB.goals }}
            </span>
          </p>
        </div>
        <div class="team">
          <h4 [ngClass]="{'bold': match.teamB.goals > match.teamA.goals}">{{ match.teamB.teamName }}</h4>
          <p class="team-rating">Rating zespołu: {{ match.teamB.teamRating }}</p>
          <table class="players-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Imię Zawodnika</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of match.teamB.players; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.id }}</td>
                <td>{{ player.newRating }} ({{ player.difference > 0 ? '+' : '' }}{{ player.difference }})</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
