<div class="next-match" *ngIf="nextMatch">
    <h3>Następny Mecz</h3>
    <p>{{ nextMatch.matchDate | date:'fullDate' }}</p>
    <p>Stan: {{ nextMatch.state }}</p>
    <p>Skarbnik: {{ nextMatch.skarbnikId }}</p>
  </div>
  
  <div class="matches-history">
    <h2>Rozegrane Mecze</h2>
    <div *ngFor="let match of matchesHistory" class="match-item">
      <div class="match-header">
        <h3>{{ match.matchDate | date:'EEEE, dd-MM-yyyy HH:mm' | titlecase }}</h3>
        <a mat-button color="primary" [href]="match.eventLink" target="_blank">Link do wydarzenia</a> <!-- Dodany przycisk Angular Material -->
        <p>Skarbnik: {{ match.skarbnik }}</p>
      </div>
      <div class="teams">
        <div class="team">
          <h4 [ngClass]="{'bold': match.teamA.goals > match.teamB.goals}">{{ match.teamA.teamName }}</h4>
          <p class="team-rating">Rating zespołu: {{ match.teamA.teamRating }}</p>
          <table class="players-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Imię Zawodnika</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of match.teamA.players; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.id }}</td>
                <td>{{ player.newRating }} ({{ player.difference > 0 ? '+' : '' }}{{ player.difference }})</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="result-column">
          <p class="result">
            <span [ngClass]="{'bold': match.teamA.goals > match.teamB.goals}">
              {{ match.teamA.goals }}
            </span>
            :
            <span [ngClass]="{'bold': match.teamB.goals > match.teamA.goals}">
              {{ match.teamB.goals }}
            </span>
          </p>
        </div>
        <div class="team">
          <h4 [ngClass]="{'bold': match.teamB.goals > match.teamA.goals}">{{ match.teamB.teamName }}</h4>
          <p class="team-rating">Rating zespołu: {{ match.teamB.teamRating }}</p>
          <table class="players-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Imię Zawodnika</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of match.teamB.players; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ player.id }}</td>
                <td>{{ player.newRating }} ({{ player.difference > 0 ? '+' : '' }}{{ player.difference }})</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  