.ranking-container {
  width: 80%;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

.player-link {
  color: #000; /* czarny */
  text-decoration: none;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

/* Podkreślenie trochę niżej */
.player-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* obniżamy linię */
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 0.2;
  transition: 0.2s ease;
}

/* Hover – pogrubienie i linia grubsza */
.player-link:hover {
  font-weight: 600;
}

.player-link:hover::after {
  height: 3px;
  opacity: 0.6;
}

/* Efekt kliknięcia */
.player-link:active {
  opacity: 0.6;
  transform: scale(0.97);
}
